/** GENERICS */

h1 {
    margin: 0;
    font-weight: 900;
    text-shadow: 0 0 5px white;
}

input {
    max-width: 100px;
    text-align: center;
}

#timer {
    text-shadow: 0 0 5px white;
    font-size: 40px;
    font-weight: 800;

}

#verify {
    cursor: pointer;
    margin: 30px;
}

/** LAYOUT */

header {
    background-color: lightgreen;
}